
<!doctype html>
<html lang="en-US">


<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <meta name="theme-color" content="#000">

    <title>Products &#8211; Plaxer</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='http://use.typekit.net/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Plaxer &raquo; Feed" href="../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Plaxer &raquo; Comments Feed" href="../comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Plaxer &raquo; Products Feed" href="feed/index.html" />
    <script>
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/promo-theme.com\/plaxer\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.3"}};
        !function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([10084,65039,8205,55357,56613],[10084,65039,8203,55357,56613])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style>
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wp-color-picker-css'  href="{{ asset('front-office/css/color-picker.minc8d8.css?ver=5.8.3') }}" media='all' />
    <link rel='stylesheet' id='wp-block-library-css'  href="{{ asset('front-office/css/style.minc8d8.css?ver=5.8.3') }}" media='all' />
    <link rel='stylesheet' id='wc-block-style-css'  href="{{ asset('front-office/css/style747d.css?ver=2.4.5') }}" media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href="{{ asset('front-office/css/stylesb62d.css?ver=5.1.6') }}" media='all' />
    <style id='woocommerce-inline-inline-css'>
        .woocommerce form .form-row .required { visibility: visible; }
    </style>
    <link rel='stylesheet' id='font-awesome-css'  href="{{ asset('front-office/css/font-awesome.min87b5.css?ver=2.7.22')}}" media='all' />
    <link rel='stylesheet' id='plaxer-icons-css'  href="{{ asset('front-office/css/iconfontc8d8.css?ver=5.8.3')}}" media='all' />
    <link rel='stylesheet' id='js_composer_front-css'  href="{{ asset('front-office/css/js_composer.min9b2d.css?ver=6.1')}}" media='all' />
    <link rel='stylesheet' id='fontawesome-css'  href="{{ asset('front-office/css/fontawesome.minc8d8.css?ver=5.8.3')}}" media='all' />
    <link rel='stylesheet' id='plaxer-style-css'  href="{{ asset('front-office/css/stylec8d8.css?ver=5.8.3')}}" media='all' />
    <link rel='stylesheet' id='swiper-css'  href="{{ asset('front-office/css/swiper268f.css?ver=4.5.0')}}" media='all' />
    <link rel='stylesheet' id='plaxer-main-style-css'  href="{{ asset('front-office/css/mainc8d8.css?ver=5.8.3')}}" media='all' />
    <link rel='stylesheet' id='woocommerce-general-css'  href="{{ asset('front-office/css/woocommercec8d8.css?ver=5.8.3')}}" media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css'  href="{{ asset('front-office/css/woocommerce-layoutc8d8.css?ver=5.8.3')}}" media='all' />
    <link rel='stylesheet' id='select2-css'  href="{{ asset('front-office/css/select2c8d8.css?ver=5.8.3')}}" media='all' />
    <link rel='stylesheet' id='plaxer-typekit-css'  href="{{ asset('front-office/css/fir4xfr68b3.css?ver=1')}}" media='all' />
    <link rel='stylesheet' id='photoswipe-css'  href="{{ asset('front-office/css/photoswipe.css')}}" media='all' />
    <link rel='stylesheet' id='pt-addons-css'  href="{{ asset('front-office/css/pt-addonsc8d8.css?ver=5.8.3')}}" media='all' />
    <script id='jquery-core-js' src="{{ asset('front-office/js/jquery-1.12.4.minb8ff.js?ver=1.12.4' )}}"></script>
    <script id='jquery-migrate-js' src="{{ asset('front-office/js/jquery-migrate.min330a.js?ver=1.4.1')}}"></script>
    <script id='jquery-blockui-js' src="{{ asset('front-office/js/jquery.blockUI.min44fd.js?ver=2.70')}}" ></script>
    <script id='wc-add-to-cart-js-extra'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = {"ajax_url":"\/plaxer\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/plaxer\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/promo-theme.com\/plaxer\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
        /* ]]> */
    </script>
    <script id='wc-add-to-cart-js' src="{{ asset('front-office/js/add-to-cart.min3fd0.js?ver=3.8.2')}}" ></script>
    <script id='vc_woocommerce-add-to-cart-js-js' src="{{ asset('front-office/js/woocommerce-add-to-cart9b2d.js?ver=6.1')}}" ></script>
    <script id='zilla-likes-js-extra'>
        /* <![CDATA[ */
        var zilla_likes = {"ajaxurl":"https:\/\/promo-theme.com\/plaxer\/wp-admin\/admin-ajax.php"};
        /* ]]> */
    </script>
    <script id='zilla-likes-js' src="{{ asset('front-office/js/zilla-likesc8d8.js?ver=5.8.3')}}"></script>
    <link rel="https://api.w.org/" href="../wp-json/index.html" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{{asset('wlwmanifest.xml')}}" />
    <meta name="generator" content="WordPress 5.8.3" />
    <meta name="generator" content="WooCommerce 3.8.2" />
    <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
    <style>.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>		<style>.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
    <link rel="icon" href="{{ asset('front-office/img/cropped-favicon-70x70.png') }}" sizes="32x32" />
    <link rel="icon" href="{{ asset('front-office/img/cropped-favicon-300x300.png') }}" sizes="192x192" />
    <link rel="apple-touch-icon" href="{{ asset('front-office/img/cropped-favicon-300x300.png') }}" />
    <meta name="msapplication-TileImage" content="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/cropped-favicon-300x300.png" />
    <style title="dynamic-css" class="options-output">.site-header .site-logo, .site-header .site-logo a{width:160px;}body{font-family: "proxima-nova";font-weight: 400;font-size: 16px;}h1, .h1{font-family: "raleway";font-weight: 600;font-size: 60px;}h2, .h2{font-family: "raleway";font-weight: 600;font-size: 48px;}h3, .h3{font-family: "raleway";font-weight: 600;font-size: 40px;}h4, .h4{font-family: "raleway";font-weight: 600;font-size: 36px;}h5, .h5{font-family: "raleway";font-weight: 600;font-size: 30px;}h6, .h6{font-family: "raleway";font-weight: 600;font-size: 24px;}.site-footer .site-logo, .site-footer .site-logo a{width:139px;}</style><noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>

<body class="archive post-type-archive post-type-archive-product theme-plaxer woocommerce woocommerce-page woocommerce-no-js dark-scheme preloader-true header-container header-light header-logo-left header-space-false right-click-disable-false popup-download-link-true mobile-images-false project-image-download-hide custom-cursor-false navigation-hover-style1 unknown windows wpb-js-composer js-comp-ver-6.1 vc_responsive">
<div id="page">
    <div class="preloader-area">
        <div class="preloader-folding-cube">
            <div class="preloader-cube1 preloader-cube"></div>
            <div class="preloader-cube2 preloader-cube"></div>
            <div class="preloader-cube4 preloader-cube"></div>
            <div class="preloader-cube3 preloader-cube"></div>
        </div>
    </div>
    <header class="site-header light-color">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="logo-block col-auto">
                    <div class="site-logo">
                        <a href="index.html" data-magic-cursor="link"><img class="light" src="{{ asset('front-office/img/logo-light.png') }}" alt="LevelUp"><img class="dark" src="{{ asset('front-office/img/logo-dark.png') }}" alt="LevelUp"></a>              </div>
                </div>
                <div class="right col-auto">
                    <nav class="navigation visible_menu">
                        <ul id="menu-navigation" class="menu">
                            <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-40"><a href="" ><span>Home</span></a></li>
                            <li id="menu-item-53" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-53"><a href="#" ><span>Blog</span></a></li>
                            <li id="menu-item-56" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-56"><a href="#" ><span>Events</span></a></li>
                            <li id="menu-item-54" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-54"><a href="#" ><span>Pages</span></a></li>
                            <li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-52"><a href="#" ><span>Shop</span></a>
                                <ul class="sub-menu">
                                    <li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"><a href="#" ><span>Product List</span></a></li>
                                    <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a href="#" ><span>Cart</span></a></li>
                                </ul>
                            </li>
                            <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="#" ><span>Contact Us</span></a></li>
                            <li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-52"><a href="#" ><span>Our Community</span></a>
                                <ul class="sub-menu">
                                    <li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"><a href="#" ><span>Teams</span></a></li>
                                    <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a href="#" ><span>Video Games</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="header-search-button"><i class="base-icon-magnifying-glass"></i></div>
                    <div class="header-minicart woocommerce header-minicart-plaxer">
                        <div class="hm-count"><i class="base-icon-shopping-cart"></i></div>
                    </div>
                    <div class="nav-butter visible_menu" data-magic-cursor="link-small"><span></span><span></span><span></span></div>
                </div>
                <div class="sidebar-butter" data-magic-cursor="link-small"><span></span><span></span><span></span></div>
            </div>
        </div>
    </header>
    <div class="search-popup">
        <div class="close base-icon-cross"></div>
        <div class="form-block"><form role="search" method="get" class="searchform" action="https://promo-theme.com/plaxer/" >
                <div><input type="text" value="" placeholder="Type and hit enter" name="s" class="input" /></div>
                <button type="submit" class="searchsubmit" value=""><i class="base-icon-magnifying-glass"></i></button>
            </form></div>
    </div>
    <div class="sidebar-content-block">
        <div class="close base-icon-cross"></div>
        <div class="wrap scrollbar-inner"><div id="about_me-2" class="widget widget_about_me">
                <h6 class="widget-title">About Me</h6>          <img class="image" src="../wp-content/uploads/2019/12/img42.jpg" alt="About Me" />
                <div class="desc">Through our best techniques and bespoke growth plans we assess digital problems and put in place strategies that lead to commercial success. </div>
                <div class="social-links">
                    <span class="label">Follow Us:</span>
                    <a href="#" target="_self"><i class="base-icon-instagram-social-network-logo-of-photo-camera"></i></a><a href="#" target="_self"><i class="fab fa-facebook-f"></i></a><a href="#" target="_self"><i class="fab fa-twitter"></i></a>      </div>

            </div><div id="search-3" class="widget widget_search"><form role="search" method="get" class="searchform" action="https://promo-theme.com/plaxer/" >
                    <div><input type="text" value="" placeholder="Type and hit enter" name="s" class="input" /></div>
                    <button type="submit" class="searchsubmit" value=""><i class="base-icon-magnifying-glass"></i></button>
                </form>
            </div>
            </div>
    </div>

    <div class="header-space"></div>    <div class="page-top-block type-woocommerce" style="">
        <div class="container">
            <div class="heading-block">
                <h1 class="h h3">Shop</h1>
            </div>
        </div>
    </div>

    <main class="main-container">
        <div class="bg-overlay">
            <div class="circles style3"><span></span><span></span></div>
        </div>
        <div class="container"><div class="shop-top row"><div class="with-sidebar col"><div class="woocommerce-notices-wrapper"></div><p class="woocommerce-result-count">
                        Showing all 12 results</p>
                    <form class="woocommerce-ordering" method="get">
                        <select name="orderby" class="orderby" aria-label="Shop order">
                            <option value="menu_order"  selected='selected'>Default sorting</option>
                            <option value="popularity" >Sort by popularity</option>
                            <option value="rating" >Sort by average rating</option>
                            <option value="date" >Sort by latest</option>
                            <option value="price" >Sort by price: low to high</option>
                            <option value="price-desc" >Sort by price: high to low</option>
                        </select>
                        <input type="hidden" name="paged" value="1" />
                    </form>
                </div></div><div class="row"><div class="col-12 col-md-8"><ul class="products row">
                        <li class="col-12 col-sm-6 product type-product post-1364 status-publish first instock product_cat-accessories has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                            <div class="product-wrap">
                                <div class="image"><span class="onsale accent"><span>Sale</span></span><div class="buttons"><a rel="nofollow" href="index7a94.html?add-to-cart=1364" data-quantity="1" data-product_id="1364" data-product_sku="df5-45" class="add_to_cart_button product_type_simple ajax_add_to_cart" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>Add to cart</span></a></div><a href="../product/console/index.html" class="img"><img width="300" height="300" src="../wp-content/uploads/2019/12/img43-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img43-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img43-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img43-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img43-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img43-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="bottom"><div class="categories"><a href="../product-category/accessories/index.html" rel="tag">Accessories</a></div><h6 class="h"><a href="../product/console/index.html">Console</a></h6><div class="price simple"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>20</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>18</span></ins></div></div>    </div>
                        </li>
                        <li class="col-12 col-sm-6 product type-product post-1346 status-publish last instock product_cat-accessories has-post-thumbnail shipping-taxable purchasable product-type-simple">
                            <div class="product-wrap">
                                <div class="image"><div class="buttons"><a rel="nofollow" href="index624d.html?add-to-cart=1346" data-quantity="1" data-product_id="1346" data-product_sku="d54-44" class="add_to_cart_button product_type_simple ajax_add_to_cart" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>Add to cart</span></a></div><a href="../product/game-motherboard/index.html" class="img"><img width="300" height="300" src="../wp-content/uploads/2019/12/img39-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img39-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img39-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img39-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img39-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img39-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="bottom"><div class="categories"><a href="../product-category/accessories/index.html" rel="tag">Accessories</a></div><h6 class="h"><a href="../product/game-motherboard/index.html">Game Motherboard</a></h6><div class="price simple"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>18</span></div></div>    </div>
                        </li>
                        <li class="col-12 col-sm-6 product type-product post-1350 status-publish first instock product_cat-accessories has-post-thumbnail featured shipping-taxable purchasable product-type-simple">
                            <div class="product-wrap">
                                <div class="image"><div class="buttons"><a rel="nofollow" href="indexf012.html?add-to-cart=1350" data-quantity="1" data-product_id="1350" data-product_sku="dcb-4d" class="add_to_cart_button product_type_simple ajax_add_to_cart" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>Add to cart</span></a></div><a href="../product/game-pc/index.html" class="img"><img width="300" height="300" src="../wp-content/uploads/2019/12/img35-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img35-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img35-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img35-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img35-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img35-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="bottom"><div class="categories"><a href="../product-category/accessories/index.html" rel="tag">Accessories</a></div><h6 class="h"><a href="../product/game-pc/index.html">Game PC</a></h6><div class="price simple"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>90</span></div></div>    </div>
                        </li>
                        <li class="col-12 col-sm-6 product type-product post-1343 status-publish last instock product_cat-bo-headphones has-post-thumbnail featured shipping-taxable purchasable product-type-simple">
                            <div class="product-wrap">
                                <div class="image"><div class="buttons"><a rel="nofollow" href="indexfa15.html?add-to-cart=1343" data-quantity="1" data-product_id="1343" data-product_sku="d51-41" class="add_to_cart_button product_type_simple ajax_add_to_cart" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>Add to cart</span></a></div><div class="product-thumb-slider swiper-container"><div class="nav-arrows"><div class="prev base-icon-back" data-magic-cursor="link"></div><div class="next base-icon-next-1" data-magic-cursor="link"></div></div><div class="swiper-wrapper"><div class="swiper-slide"><a href="../product/headphones/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img41-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img41-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img41-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img41-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img41-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img41-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="swiper-slide"><a href="../product/headphones/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img37-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img37-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img37-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img37-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img37-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img37-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div></div></div></div><div class="bottom"><div class="categories"><a href="../product-category/bo-headphones/index.html" rel="tag">B&amp;O Headphones</a></div><h6 class="h"><a href="../product/headphones/index.html">Headphones</a></h6><div class="price simple"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>20</span></div></div>    </div>
                        </li>
                        <li class="col-12 col-sm-6 product type-product post-1344 status-publish first instock product_cat-bo-headphones has-post-thumbnail shipping-taxable purchasable product-type-simple">
                            <div class="product-wrap">
                                <div class="image"><div class="buttons"><a rel="nofollow" href="index42d3.html?add-to-cart=1344" data-quantity="1" data-product_id="1344" data-product_sku="dd9-46" class="add_to_cart_button product_type_simple ajax_add_to_cart" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>Add to cart</span></a></div><a href="../product/headphones-2/index.html" class="img"><img width="300" height="300" src="../wp-content/uploads/2019/12/img40-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img40-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img40-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img40-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img40-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img40-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="bottom"><div class="categories"><a href="../product-category/bo-headphones/index.html" rel="tag">B&amp;O Headphones</a></div><h6 class="h"><a href="../product/headphones-2/index.html">Headphones</a></h6><div class="price simple"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>30</span></div></div>    </div>
                        </li>
                        <li class="col-12 col-sm-6 product type-product post-1348 status-publish last instock product_cat-bo-headphones has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                            <div class="product-wrap">
                                <div class="image"><span class="onsale accent"><span>Sale</span></span><div class="buttons"><a rel="nofollow" href="index3fa6.html?add-to-cart=1348" data-quantity="1" data-product_id="1348" data-product_sku="db2-4f" class="add_to_cart_button product_type_simple ajax_add_to_cart" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>Add to cart</span></a></div><div class="product-thumb-slider swiper-container"><div class="nav-arrows"><div class="prev base-icon-back" data-magic-cursor="link"></div><div class="next base-icon-next-1" data-magic-cursor="link"></div></div><div class="swiper-wrapper"><div class="swiper-slide"><a href="../product/headphones-3/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img37-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img37-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img37-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img37-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img37-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img37-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="swiper-slide"><a href="../product/headphones-3/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img41-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img41-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img41-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img41-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img41-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img41-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div></div></div></div><div class="bottom"><div class="categories"><a href="../product-category/bo-headphones/index.html" rel="tag">B&amp;O Headphones</a></div><h6 class="h"><a href="../product/headphones-3/index.html">Headphones</a></h6><div class="price simple"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>65</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>55</span></ins></div></div>    </div>
                        </li>
                        <li class="col-12 col-sm-6 product type-product post-1355 status-publish first instock product_cat-accessories has-post-thumbnail downloadable virtual purchasable product-type-simple">
                            <div class="product-wrap">
                                <div class="image"><div class="buttons"><a rel="nofollow" href="index6adf.html?add-to-cart=1355" data-quantity="1" data-product_id="1355" data-product_sku="woo-album" class="add_to_cart_button product_type_simple ajax_add_to_cart" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>Add to cart</span></a></div><a href="../product/logitech-gamer-mouse/index.html" class="img"><img width="300" height="300" src="../wp-content/uploads/2019/12/img45-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img45-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img45-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img45-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img45-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img45-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="bottom"><div class="categories"><a href="../product-category/accessories/index.html" rel="tag">Accessories</a></div><h6 class="h"><a href="../product/logitech-gamer-mouse/index.html">Logitech Gamer mouse</a></h6><div class="price simple"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>15</span></div></div>    </div>
                        </li>
                        <li class="col-12 col-sm-6 product type-product post-1349 status-publish last instock product_cat-laptops has-post-thumbnail sale featured shipping-taxable purchasable product-type-simple">
                            <div class="product-wrap">
                                <div class="image"><span class="onsale accent"><span>Sale</span></span><div class="buttons"><a rel="nofollow" href="index034a.html?add-to-cart=1349" data-quantity="1" data-product_id="1349" data-product_sku="de3-43" class="add_to_cart_button product_type_simple ajax_add_to_cart" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>Add to cart</span></a></div><div class="product-thumb-slider swiper-container"><div class="nav-arrows"><div class="prev base-icon-back" data-magic-cursor="link"></div><div class="next base-icon-next-1" data-magic-cursor="link"></div></div><div class="swiper-wrapper"><div class="swiper-slide"><a href="../product/macbook-pro/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img36-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img36-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img36-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img36-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img36-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img36-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="swiper-slide"><a href="../product/macbook-pro/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img49-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img49-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img49-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img49-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img49-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img49-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div></div></div></div><div class="bottom"><div class="categories"><a href="../product-category/laptops/index.html" rel="tag">Laptops</a></div><h6 class="h"><a href="../product/macbook-pro/index.html">MacBook Pro</a></h6><div class="price simple"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>18</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>16</span></ins></div></div>    </div>
                        </li>
                        <li class="col-12 col-sm-6 product type-product post-1363 status-publish first instock product_cat-accessories has-post-thumbnail shipping-taxable purchasable product-type-simple">
                            <div class="product-wrap">
                                <div class="image"><div class="buttons"><a rel="nofollow" href="indexbfc4.html?add-to-cart=1363" data-quantity="1" data-product_id="1363" data-product_sku="d20-4b" class="add_to_cart_button product_type_simple ajax_add_to_cart" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>Add to cart</span></a></div><a href="../product/nintendo-controllers/index.html" class="img"><img width="300" height="300" src="../wp-content/uploads/2019/12/img44-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img44-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img44-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img44-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img44-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img44-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="bottom"><div class="categories"><a href="../product-category/accessories/index.html" rel="tag">Accessories</a></div><h6 class="h"><a href="../product/nintendo-controllers/index.html">Nintendo Controllers</a></h6><div class="price simple"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>18</span></div></div>    </div>
                        </li>
                        <li class="col-12 col-sm-6 product type-product post-1352 status-publish last instock product_cat-merch has-post-thumbnail featured shipping-taxable purchasable product-type-simple">
                            <div class="product-wrap">
                                <div class="image"><div class="buttons"><a rel="nofollow" href="indexbe4b.html?add-to-cart=1352" data-quantity="1" data-product_id="1352" data-product_sku="d63-4a" class="add_to_cart_button product_type_simple ajax_add_to_cart" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>Add to cart</span></a></div><div class="product-thumb-slider swiper-container"><div class="nav-arrows"><div class="prev base-icon-back" data-magic-cursor="link"></div><div class="next base-icon-next-1" data-magic-cursor="link"></div></div><div class="swiper-wrapper"><div class="swiper-slide"><a href="../product/t-shirt/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img46-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img46-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img46-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img46-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img46-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img46-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="swiper-slide"><a href="../product/t-shirt/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img51-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img51-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img51-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img51-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img51-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img51-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="swiper-slide"><a href="../product/t-shirt/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img54-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img54-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img54-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img54-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img54-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img54-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="swiper-slide"><a href="../product/t-shirt/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img55-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img55-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img55-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img55-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img55-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img55-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div></div></div></div><div class="bottom"><div class="categories"><a href="../product-category/merch/index.html" rel="tag">Merch</a></div><h6 class="h"><a href="../product/t-shirt/index.html">T-Shirt</a></h6><div class="price simple"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>45</span></div></div>    </div>
                        </li>
                        <li class="col-12 col-sm-6 product type-product post-1365 status-publish first instock product_cat-merch has-post-thumbnail sale shipping-taxable product-type-grouped">
                            <div class="product-wrap">
                                <div class="image"><span class="onsale accent"><span>Sale</span></span><div class="buttons"><a rel="nofollow" href="../product/t-shirt-2/index.html" data-quantity="1" data-product_id="1365" data-product_sku="de6-4e" class="add_to_cart_button product_type_grouped" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>View</span></a></div><div class="product-thumb-slider swiper-container"><div class="nav-arrows"><div class="prev base-icon-back" data-magic-cursor="link"></div><div class="next base-icon-next-1" data-magic-cursor="link"></div></div><div class="swiper-wrapper"><div class="swiper-slide"><a href="../product/t-shirt-2/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img42-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img42-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img42-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img42-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img42-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img42-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="swiper-slide"><a href="../product/t-shirt-2/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img46-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img46-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img46-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img46-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img46-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img46-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="swiper-slide"><a href="../product/t-shirt-2/index.html"><img width="300" height="300" src="../wp-content/uploads/2019/12/img47-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img47-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img47-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img47-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img47-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img47-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div></div></div></div><div class="bottom"><div class="categories"><a href="../product-category/merch/index.html" rel="tag">Merch</a></div><h6 class="h"><a href="../product/t-shirt-2/index.html">T-Shirt</a></h6><div class="price grouped"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>18</span></div></div>    </div>
                        </li>
                        <li class="col-12 col-sm-6 product type-product post-1347 status-publish last instock product_cat-accessories has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                            <div class="product-wrap">
                                <div class="image"><span class="onsale accent"><span>Sale</span></span><div class="buttons"><a rel="nofollow" href="indexb892.html?add-to-cart=1347" data-quantity="1" data-product_id="1347" data-product_sku="db2-44" class="add_to_cart_button product_type_simple ajax_add_to_cart" data-magic-cursor="link"><i class="base-icon-shopping-cart"></i><span>Add to cart</span></a></div><a href="../product/xbox-gamepad/index.html" class="img"><img width="300" height="300" src="../wp-content/uploads/2019/12/img38-300x300.jpg" class="show" alt="" loading="lazy" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img38-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img38-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img38-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img38-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img38-100x100@2x.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a></div><div class="bottom"><div class="categories"><a href="../product-category/accessories/index.html" rel="tag">Accessories</a></div><h6 class="h"><a href="../product/xbox-gamepad/index.html">XBox Gamepad</a></h6><div class="price simple"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>20</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>18</span></ins></div></div>    </div>
                        </li>
                    </ul>
                </div><div class="site-sidebar col-12 col-md-4"><div class="wrap"><div id="about_me-3" class="widget widget_about_me">
                            <h6 class="widget-title">About Me</h6>          <img class="image" src="../wp-content/uploads/2019/12/img42.jpg" alt="About Me" />
                            <div class="desc">Through our best techniques and bespoke growth plans we assess digital problems and put in place strategies that lead to commercial success. </div>
                            <div class="social-links">
                                <span class="label">Follow Us:</span>
                                <a href="#" target="_self"><i class="base-icon-instagram-social-network-logo-of-photo-camera"></i></a><a href="#" target="_self"><i class="fab fa-facebook-f"></i></a><a href="#" target="_self"><i class="fab fa-twitter"></i></a>      </div>

                        </div><div id="search-4" class="widget widget_search"><form role="search" method="get" class="searchform" action="https://promo-theme.com/plaxer/" >
                                <div><input type="text" value="" placeholder="Type and hit enter" name="s" class="input" /></div>
                                <button type="submit" class="searchsubmit" value=""><i class="base-icon-magnifying-glass"></i></button>
                            </form>
                        </div>
                        <div id="tag_cloud-3" class="widget widget_tag_cloud"><h6 class="widget-title">Tags</h6><div class="tagcloud"><a href="../category/dota-2/index.html" class="tag-cloud-link tag-link-19 tag-link-position-1" style="font-size: 10.8pt;" aria-label="Dota 2 (3 items)">Dota 2</a>
                                <a href="../category/fortnite/index.html" class="tag-cloud-link tag-link-21 tag-link-position-2" style="font-size: 13.133333333333pt;" aria-label="Fortnite (4 items)">Fortnite</a>
                                <a href="../category/gs-go/index.html" class="tag-cloud-link tag-link-17 tag-link-position-3" style="font-size: 10.8pt;" aria-label="GS GO (3 items)">GS GO</a>
                                <a href="../category/pubg/index.html" class="tag-cloud-link tag-link-18 tag-link-position-4" style="font-size: 22pt;" aria-label="PUBG (11 items)">PUBG</a>
                                <a href="../category/streams/index.html" class="tag-cloud-link tag-link-20 tag-link-position-5" style="font-size: 8pt;" aria-label="Streams (2 items)">Streams</a></div>
                        </div><div id="woocommerce_products-3" class="widget woocommerce widget_products"><h6 class="widget-title">Related Products</h6><ul class="product_list_widget"><li>
                                    <div class="content">
                                        <a href="../product/t-shirt-2/index.html">
                                            <div class="img" style="background-image: url(../wp-content/uploads/2019/12/img42-300x200.jpg)"></div>
                                            <span class="c">
        <span class="title">T-Shirt</span>
        <span class="p-count"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>18</span></span>
      </span>
                                        </a>
                                    </div>

                                </li>

                                <li>
                                    <div class="content">
                                        <a href="../product/nintendo-controllers/index.html">
                                            <div class="img" style="background-image: url(../wp-content/uploads/2019/12/img44-300x201.jpg)"></div>
                                            <span class="c">
        <span class="title">Nintendo Controllers</span>
        <span class="p-count"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>18</span></span>
      </span>
                                        </a>
                                    </div>

                                </li>
                            </ul></div></div></div></div>
        </div>
    </main>































    <footer class="site-footer light-color">
        <div class="scroll-to-top-button"><i class="base-icon-next-1"></i><span>back to top</span></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="site-logo"><a href="#" data-magic-cursor="link"><img class="light" src="{{ asset('front-office/img/logo-light.png') }}" alt="LevelUp"><img class="dark" src="{{ asset('front-office/img/logo-dark.png') }}" alt="LevelUp"></a></div>
                    <div id="text-2" class="widget widget_text">			<div class="textwidget"><script>(function() {
                                    if ( ! window.mc4wp) {
                                        window.mc4wp = {
                                            listeners: [],
                                            forms    : {
                                                on: function (event, callback) {
                                                    window.mc4wp.listeners.push(
                                                        {
                                                            event   : event,
                                                            callback: callback
                                                        }
                                                    );
                                                }
                                            }
                                        }
                                    }
                                })();
                            </script><!-- Mailchimp for WordPress v4.7.4 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-151" method="post" data-id="151" data-name="Subscribe Form" ><div class="mc4wp-form-fields"><div class="subscribe-form">
                                        <div class="input-row">
                                            <input type="email" name="EMAIL" class="input" placeholder="Enter your email" required />
                                        </div>
                                        <button type="submit">
                                            <i class="base-icon-right-arrow"></i><span>Subscribe</span>
                                        </button>
                                    </div></div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1644959619" /><input type="hidden" name="_mc4wp_form_id" value="151" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /><div class="mc4wp-response"></div></form><!-- / Mailchimp for WordPress Plugin -->
                        </div>
                    </div><div id="custom_html-3" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><div class="text-t1">The world without photography will be meaningless to us.</div></div></div>          </div>
                <div class="col-12 col-sm-4 col-md-3">
                    <div id="custom_html-4" class="widget_text widget widget_custom_html"><h6 class="widget-title">Address</h6><div class="textwidget custom-html-widget"><p>Baker Street 223b London, CA 70413<br /><strong>Open:</strong> 9:30 AM 5:30PM</p>
                            <div class="contact-row">
                                <div class="label">Phone:</div>
                                <div class="value">+1 (800) 456 37 11</div>
                            </div>
                            <div class="contact-row">
                                <div class="label">Email:</div>
                                <div class="value">support@promo-theme.com</div>
                            </div></div></div><div class="social-links-widget widget"><div class="social-links"><a href="#" target="_self"><i class="base-icon-instagram-social-network-logo-of-photo-camera"></i></a><a href="#" target="_self"><i class="fab fa-facebook-f"></i></a><a href="#" target="_self"><i class="fab fa-twitter"></i></a></div></div>            </div>
                <div class="col-12 col-sm-4 col-md-3">
                    <div id="recent-posts-3" class="widget widget_recent_entries">		<h6 class="widget-title">Recent Posts</h6>		<ul>
                            <li>
                                <a href="pubg/kills-you-slowly-2/index.html">Kills You Slowly</a>
                                <span class="post-date">November 8, 2019</span>
                            </li>
                            <li>
                                <a href="dota-2/clout/index.html">Clout</a>
                                <span class="post-date">April 22, 2019</span>
                            </li>
                            <li>
                                <a href="gs-go/jerome/index.html">Jerome</a>
                                <span class="post-date">April 22, 2019</span>
                            </li>
                        </ul>
                    </div>            </div>
                <div class="col-12 col-sm-4 col-md-3">
                    <div id="recent-comments-3" class="widget widget_recent_comments"><h6 class="widget-title">Recent Comments</h6><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link">Elena Cobsky</span> - <a href="streams/driving-engagement-online/index.html#comment-7">Driving Engagement  Online</a></li><li class="recentcomments"><span class="comment-author-link">John Michel</span> - <a href="pubg/designing-for-the-web-in-2019/index.html#comment-6">Designing for the Web in 2019</a></li><li class="recentcomments"><span class="comment-author-link">Anton Stockman</span> - <a href="gs-go/streamlining-the-path-to-conversion/index.html#comment-5">Streamlining the Path to Conversion</a></li></ul></div>            </div>
            </div>
            <div class="footer-bottom">
                <div class="left-text"> 2022, Work Done By RuntimeError                                              <a href="#">Team</a>
                    |
                    <a href="#">Privacy Policy</a>
                    |
                    <a href="#">Sitemap</a>
                </div>
                <div class="right-text">All Rights Reserved.</div>
            </div>
        </div>
    </footer>
</div>

<script>(function() {function addEventListener(element,event,handler) {
        if (element.addEventListener) {
            element.addEventListener( event,handler, false );
        } else if (element.attachEvent) {
            element.attachEvent( 'on' + event,handler );
        }
    }
        function maybePrefixUrlField() {
            if (this.value.trim() !== '' && this.value.indexOf( 'http' ) !== 0) {
                this.value = "http://" + this.value;
            }
        }

        var urlFields = document.querySelectorAll( '.mc4wp-form input[type="url"]' );
        if ( urlFields && urlFields.length > 0 ) {
            for ( var j = 0; j < urlFields.length; j++ ) {
                addEventListener( urlFields[j],'blur',maybePrefixUrlField );
            }
        }
        /* test if browser supports date fields */
        var testInput = document.createElement( 'input' );
        testInput.setAttribute( 'type', 'date' );
        if ( testInput.type !== 'date') {

            /* add placeholder & pattern to all date fields */
            var dateFields = document.querySelectorAll( '.mc4wp-form input[type="date"]' );
            for (var i = 0; i < dateFields.length; i++) {
                if ( ! dateFields[i].placeholder) {
                    dateFields[i].placeholder = 'YYYY-MM-DD';
                }
                if ( ! dateFields[i].pattern) {
                    dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                }
            }
        }
    })();</script>	<script>
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
</script>
<script id='contact-form-7-js-extra'>
    /* <![CDATA[ */
    var wpcf7 = {"apiSettings":{"root":"https:\/\/promo-theme.com\/plaxer\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};
    /* ]]> */
</script>
<script src="{{ asset('front-office/js/scriptsb62d.js?ver=5.1.6') }} " id='contact-form-7-js'></script>
<script src="{{ asset('front-office/js/js.cookie.min6b25.js?ver=2.1.4') }} " id='js-cookie-js'></script>
<script id='woocommerce-js-extra'>
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/plaxer\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/plaxer\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
</script>
<script src="{{ asset('front-office/js/woocommerce.min3fd0.js?ver=3.8.2') }}" id='woocommerce-js'></script>
<script id='wc-cart-fragments-js-extra'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/plaxer\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/plaxer\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_700bf9de335fd69d7965a802cea344d6","fragment_name":"wc_fragments_700bf9de335fd69d7965a802cea344d6","request_timeout":"5000"};
    /* ]]> */
</script>
<script src="{{ asset('front-office/js/cart-fragments.min3fd0.js?ver=3.8.2') }}" id='wc-cart-fragments-js'></script>
<script src="{{ asset('front-office/js/magic-cursor8a54.js?ver=1.0.0') }}" id='magic-cursor-js'></script>
<script src="{{ asset('front-office/js/isotope.pkgd.min7c45.js?ver=3.0.6') }}" id='isotope-js'></script>
<script src="{{ asset('front-office/js/jquery.scrollbar.min22c9.js?ver=0.2.10') }}" id='scrollbar-js'></script>
<script src="{{ asset('front-office/js/swiper.min268f.js?ver=4.5.0') }}" id='swiper-js'></script>
<script src="{{ asset('front-office/js/scripts.js') }}" id='plaxer-scripts-js'></script>
<script src="{{ asset('front-office/js/js_composer_front.min8a54.js?ver=1.0.0') }}" id='wpb_composer_front_js-js'></script>
<script src="{{ asset('front-office/js/parallax.min.js') }}" id='parallax-js'></script>
<script src="{{ asset('front-office/js/photoswipe.min0235.js?ver=4.1.1') }}" id='photoswipe-js'></script>
<script src="{{ asset('front-office/js/photoswipe-ui-default.min0235.js?ver=4.1.1') }}" id='photoswipe-ui-js'></script>
<script src="{{ asset('front-office/js/imagesloaded.mineda1.js?ver=4.1.4') }}" id='imagesloaded-js'></script>
<script src="{{ asset('front-office/js/load-posts8a54.js?ver=1.0.0') }}" id='pt-load-posts-js'></script>
<script id='pt-scripts-js-extra'>
    /* <![CDATA[ */
    var yprm_ajax = {"url":"https:\/\/promo-theme.com\/plaxer\/wp-admin\/admin-ajax.php"};
    /* ]]> */
</script>
<script src="{{ asset('front-office/js/pt-scripts8a54.js?ver=1.0.0')}}" id='pt-scripts-js'></script>
<script src="{{ asset('front-office/js/wp-embed.minc8d8.js?ver=5.8.3') }}" id='wp-embed-js'></script>
<script id='mc4wp-forms-api-js-extra'>
    /* <![CDATA[ */
    var mc4wp_forms_config = [];
    /* ]]> */
</script>
<script src="{{ asset('front-office/js/forms-api.min125b.js?ver=4.7.4') }}" id='mc4wp-forms-api-js'></script>
<script src='https://promo-theme.com/plaxer/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.7.4' id='mc4wp-forms-placeholders-js'></script>
</body>
</html>