<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoice</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <style>

        @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300,100);
        *{
            margin: 0;
            box-sizing: border-box;

        }
        body{
            background: #E0E0E0;
            font-family: 'Roboto', sans-serif;
            background-image: url('');
            background-repeat: repeat-y;
            background-size: 100%;
        }
        ::selection {background: #f31544; color: #FFF;}
        ::moz-selection {background: #f31544; color: #FFF;}
        h1{
            font-size: 1.5em;
            color: #222;
        }
        h2{font-size: .9em;}
        h3{
            font-size: 1.2em;
            font-weight: 300;
            line-height: 2em;
        }
        p{
            font-size: .7em;
            color: #666;
            line-height: 1.2em;
        }

        #invoiceholder{
            width:100%;
            hieght: 100%;
            padding-top: 50px;
        }
        #headerimage{
            z-index:-1;
            position:relative;
            top: -50px;
            height: 350px;
            background-image: url({{ asset('front-office/img/img15.jpg') }});

            -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), inset 0 -2px 4px rgba(0,0,0,.15);
            -moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), inset 0 -2px 4px rgba(0,0,0,.15);
            box-shadow:inset 0 2px 4px rgba(0,0,0,.15), inset 0 -2px 4px rgba(0,0,0,.15);
            overflow:hidden;
            background-attachment: fixed;
            background-size: 1920px 80%;
            background-position: 50% -90%;
        }
        #invoice{
            position: relative;
            top: -290px;
            margin: 0 auto;
            width: 700px;
            background: #FFF;
        }

        [id*='invoice-']{ /* Targets all id with 'col-' */
            border-bottom: 1px solid #EEE;
            padding: 30px;
        }

        #invoice-top{min-height: 190px;}
        #invoice-bot{ min-height: 250px;}

        .logo{
            float: left;
            height: 60px;
            width: 60px;
            background: url({{ asset('public/front-office/img/logo-dark.png') }}) ;
            background-size: contain;
        }
        .clientlogo{
            float: left;
            height: 60px;
            width: 60px;
            background: url({{ asset('public/front-office/img/logo-dark.png') }}) no-repeat;
            background-size: 60px 60px;
            border-radius: 50px;
        }
        .info{
            display: block;
            float:left;
            margin-left: 20px;
        }
        .title{
            float: right;
        }
        .title p{text-align: right;}
        #project{margin-left: 52%;}
        table{
            width: 100%;
            border-collapse: collapse;
        }
        td{
            padding: 5px 0 5px 15px;
            border: 1px solid #EEE
        }
        .tabletitle{
            padding: 5px;
            background: #EEE;
        }
        .service{border: 1px solid #EEE;}
        .item{width: 50%;}
        .itemtext{font-size: .9em;}

        #legalcopy{
            margin-top: 30px;
        }
        form{
            float:right;
            margin-top: 30px;
            text-align: right;
        }


        .effect2
        {
            position: relative;
        }
        .effect2:before, .effect2:after
        {
            z-index: -1;
            position: absolute;
            content: "";
            bottom: 15px;
            left: 10px;
            width: 50%;
            top: 80%;
            max-width:300px;
            background: #777;
            -webkit-box-shadow: 0 15px 10px #777;
            -moz-box-shadow: 0 15px 10px #777;
            box-shadow: 0 15px 10px #777;
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            -o-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
        }
        .effect2:after
        {
            -webkit-transform: rotate(3deg);
            -moz-transform: rotate(3deg);
            -o-transform: rotate(3deg);
            -ms-transform: rotate(3deg);
            transform: rotate(3deg);
            right: 10px;
            left: auto;
        }



        .legal{
            width:70%;
        }
    </style>

</head>
<body>
<div id="invoiceholder">

    <div id="headerimage"></div>
    <div id="invoice" class="effect2">

        <div id="invoice-top">
            <div class="logo"></div>
            <div class="info">
                <h2>LevelUp Team</h2>
                <p> shop@levelup.com <br>
                    99-137-982
                </p>
                <br>
                <b>To</b>
                <br>                <br>

                <h2>{{ app.user.nom }} {{ app.user.prenom }}</h2>
                <p>{{ app.user.email }}
                    <br>
                    {{ app.user.phone }}
                    <br>
                </p>
                <br>
                <p>
                    <b>Project Description:</b> Built on entertainment, our solid network of social and <br>
                    content platforms keeps our greatest assets, players and talent, fully visible and <br>
                    happily engaged with the global fans and community.
                </p>
            </div><!--End Info-->
            <div class="title">
                <h1>Invoice #{{ commande.id }}</h1>
                <p>Issued: {{ commande.date|date('Y-m-d-h-m') }}</br>
                </p>
            </div><!--End Title-->
        </div><!--End InvoiceTop-->
        <div id="invoice-bot">

            <div id="table">
                <table>
                    <tr class="tabletitle">
                        <td class="item"><h2>Item</h2></td>
                        <td class="Hours"><h2>Quantity</h2></td>
                        <td class="Rate"><h2>Unitary Price</h2></td>
                        <td class="subtotal"><h2>Total</h2></td>
                    </tr>
                    {% for ligne in commande.ligneCommandes %}
                    <tr class="service">
                        <td class="tableitem"><p class="itemtext">{{ ligne.produit.nom }}</p></td>
                        <td class="tableitem"><p class="itemtext">{{ ligne.quantite }}</p></td>
                        <td class="tableitem"><p class="itemtext">{{ ligne.produit.price }}</p></td>
                        {% set i = 0 %}
                        {% set i = ligne.produit.price * ligne.quantite %}
                        <td class="tableitem"><p class="itemtext">{{ i }}</p></td>
                    </tr>
                    {% endfor %}
                    <tr class="tabletitle">
                        <td></td>
                        <td></td>
                        <td class="Rate"><h2>Total</h2></td>
                        <td class="payment"><h2>{{ commande.getPrixTotal() }}</h2></td>
                    </tr>

                </table>
            </div><!--End Table-->

        </div><!--End InvoiceBot-->
    </div><!--End Invoice-->
</div><!-- End Invoice Holder-->
</body>
</html>