<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoice</title>
</head>
<body>
<h2>Dear {{ app.user.nom }} {{ app.user.prenom }}, Thank You For Shopping With LevelUp !</h2>
<h4>You can find here your invoice !</h4>
<table>
    <tr>
        <td ><h2>Item</h2></td>
        <td ><h2>Quantity</h2></td>
        <td ><h2>Unitary Price</h2></td>
        <td ><h2>Total</h2></td>
    </tr>
    {% for ligne in commande.ligneCommandes %}
        <tr >
            <td><h2>{{ ligne.produit.nom }}</h2></td>
            <td><h2>{{ ligne.quantite }}</h2></td>
            <td><h2>{{ ligne.produit.price }}</h2></td>
            {% set i = 0 %}
            {% set i = ligne.produit.price * ligne.quantite %}
            <t><h2>{{ i }}</h2></t>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td><h2>Total</h2></td>
        <td><h2>{{ commande.getPrixTotal() }}</h2></td>
    </tr>

</table>


</body>
</html>