{% extends 'base-back.html.twig' %}

{% block title %}Message index{% endblock %}

{% block content %}
    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Seen</th>
                <th>Date</th>
                <th>Id_sender</th>
                <th>Id_reciever</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.content }}</td>
                <td>{{ message.seen ? 'Yes' : 'No' }}</td>
                <td>{{ message.date ? message.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ message.idSender }}</td>
                <td>{{ message.idReciever }}</td>
                <td>
                    <a href="{{ path('message_show', {'id': message.id}) }}">show</a>
                    <a href="{{ path('message_edit', {'id': message.id}) }}">edit</a>
                       <a href="{{ path('message_newreply', {'id': message.id}) }}">reply</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 
{% endblock %}
