{% extends 'base-front.html.twig' %}

{% block title %}New Message{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
 <link href="{{ asset('back-office/css/vendor.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('back-office/css/app.min.css') }}" rel="stylesheet" />

    <link href="{{ asset('back-office/plugins/jvectormap-next/jquery-jvectormap.css') }}" rel="stylesheet" />

   <div class="card">
  <div class="card-header bg-none fw-bold d-flex align-items-center">Discussion group <a href="#" class="ms-auto text-muted text-decoration-none" data-toggle="card-expand"><i class="fa fa-expand"></i></a></div>
  <div class="card-body bg-white bg-opacity-15" data-scrollbar="true" data-height="200px">
    <div class="widget-chat">
      <div class="widget-chat-date">Today 14:21</div>
      <div class="widget-chat-item">
        <div class="widget-chat-media"><img src="assets/img/user/user-2.jpg" alt="" /></div>
        <div class="widget-chat-content">
          <div class="widget-chat-name">LevelUp Chat bot</div>
          <div class="widget-chat-message">
           Welcome to customer support, please describe your issue and wait for a moderator to reply!
          </div>
        </div>
      </div>
      <div class="widget-chat-item">
        <div class="widget-chat-media"><img src="assets/img/user/user-2.jpg" alt="" /></div>
        <div class="widget-chat-content">
          <div class="widget-chat-message">
           This might take a couple of minutes, if you don't like waiting you can report the issue by mail.
          </div>
        </div>
      </div>
{% for message in messages %}
{% if message.idReciever == 0 %}
<div class="widget-chat-item reply">
        <div class="widget-chat-content">
          <div class="widget-chat-message last">
            {{message.content}}
          </div>
        </div>
      </div>
      {% else %}
<div class="widget-chat-item">
        <div class="widget-chat-media"><img src="assets/img/user/user-2.jpg" alt="" /></div>
        <div class="widget-chat-content">
          <div class="widget-chat-message">
{{message.content}}          </div>
        </div>
      </div>
 {% endif %}
        {% endfor %}
    </div>
  </div>
  <div class="card-footer bg-none">
   {{ include('message/_form.html.twig') }}
  </div>
  
  <!-- card-arrow -->
  <div class="card-arrow">
    <div class="card-arrow-top-left"></div>
    <div class="card-arrow-top-right"></div>
    <div class="card-arrow-bottom-left"></div>
    <div class="card-arrow-bottom-right"></div>
  </div>
</div>
{% endblock %}


          {# <div class="widget-chat-status"><b>Read</b> 16:30</div> #}
