{% extends "base-dashboard.html.twig" %}
{% block content %}

        <div class="card">
            <div class="card-body">
                <table id="datatableDefault" class="table text-nowrap w-100">
                    <thead>
                        <tr>
                            <th>
                                id
                                                            
                            </th>
                            <th>
                                Department Name
                                                            
                            </th>
                            <th>
                                Description
                                                            
                            </th>
                            <th>
                                Actions
                                                            
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for departement in departements %}
                        <tr>
                            <td>{{ departement.id }}</td>
                            <td>{{ departement.nom }}</td>
                            <td>{{ departement.description }}</td>
                            <td>
                                <a href="{{ path('departement_edit', {'id': departement.id}) }}" class="bi bi-pencil white"></a>
                                <a class="bi bi-trash white"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
        <a href="{{ path('departement_new')}}"><button class ="btn btn-outline-theme mt-4" style="float: right;"><span>Add Department</span></button></a>
    
{% endblock %}