{% extends "base-dashboard.html.twig" %}
{% block content %}
    {% if  ((js is defined) and (js is not null)) %}
    {{ js }}

    {% endif %}
    <div id="formControls" class="mb-5">
        <div class="card">
            <div class="card-body pb-2">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group mb-3">
                            <label class="form-label" for="exampleFormControlInput1">Ajouter un Classement</label>
                            {{ form_start(form) }}
                            {{ form_row(form.equipe, {'attr': {'class': 'form-control','background': 'black'}}) }}
                            {{ form_row(form.evenement, {'attr': {'class': 'form-control'}}) }}
                            {{ form_row(form.Rang, {'attr': {'class': 'form-control rang','placeholder': 'Rang'}}) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}