{% extends "base-front.html.twig" %}
 {% block content %}

<body class="page-template-default page page-id-1940 page-child parent-pageid-32 theme-plaxer woocommerce-no-js dark-scheme preloader-true header-container header-light header-logo-left header-space-false right-click-disable-false popup-download-link-true mobile-images-false project-image-download-hide custom-cursor-false navigation-hover-style1 unknown windows wpb-js-composer js-comp-ver-6.1 vc_responsive">
<div id="page">
    <div class="search-popup">
        <div class="close base-icon-cross"></div>
        <div class="form-block"><form role="search" method="get" class="searchform" action="https://promo-theme.com/plaxer/" >
                <div><input type="text" value="" placeholder="Type and hit enter" name="s" class="input" /></div>
                <button type="submit" class="searchsubmit" value=""><i class="base-icon-magnifying-glass"></i></button>
            </form></div>
    </div>
    <div class="sidebar-content-block">
        <div class="close base-icon-cross"></div>
        <div class="wrap scrollbar-inner"><div id="about_me-2" class="widget widget_about_me">
                <h6 class="widget-title">About Me</h6>          <img class="image" src="../../wp-content/uploads/2019/12/img42.jpg" alt="About Me" />
                <div class="desc">Through our best techniques and bespoke growth plans we assess digital problems and put in place strategies that lead to commercial success. </div>
                <div class="social-links">
                    <span class="label">Follow Us:</span>
                    <a href="#" target="_self"><i class="base-icon-instagram-social-network-logo-of-photo-camera"></i></a><a href="#" target="_self"><i class="fab fa-facebook-f"></i></a><a href="#" target="_self"><i class="fab fa-twitter"></i></a>      </div>

            </div><div id="search-3" class="widget widget_search"><form role="search" method="get" class="searchform" action="https://promo-theme.com/plaxer/" >
                    <div><input type="text" value="" placeholder="Type and hit enter" name="s" class="input" /></div>
                    <button type="submit" class="searchsubmit" value=""><i class="base-icon-magnifying-glass"></i></button>
                </form></div><div id="categories-3" class="widget widget_categories"><h6 class="widget-title">Categories</h6>
                <ul>
                    <li class="cat-item cat-item-19"><a href="../../category/dota-2/index.html">Dota 2</a>
                    </li>
                    <li class="cat-item cat-item-21"><a href="../../category/fortnite/index.html">Fortnite</a>
                    </li>
                    <li class="cat-item cat-item-17"><a href="../../category/gs-go/index.html">GS GO</a>
                    </li>
                    <li class="cat-item cat-item-18"><a href="../../category/pubg/index.html">PUBG</a>
                    </li>
                    <li class="cat-item cat-item-20"><a href="../../category/streams/index.html">Streams</a>
                    </li>
                </ul>

            </div><div id="tag_cloud-2" class="widget widget_tag_cloud"><h6 class="widget-title">Tags</h6><div class="tagcloud"><a href="../../category/dota-2/index.html" class="tag-cloud-link tag-link-19 tag-link-position-1" style="font-size: 10.8pt;" aria-label="Dota 2 (3 items)">Dota 2</a>
                    <a href="../../category/fortnite/index.html" class="tag-cloud-link tag-link-21 tag-link-position-2" style="font-size: 13.133333333333pt;" aria-label="Fortnite (4 items)">Fortnite</a>
                    <a href="../../category/gs-go/index.html" class="tag-cloud-link tag-link-17 tag-link-position-3" style="font-size: 10.8pt;" aria-label="GS GO (3 items)">GS GO</a>
                    <a href="../../category/pubg/index.html" class="tag-cloud-link tag-link-18 tag-link-position-4" style="font-size: 22pt;" aria-label="PUBG (11 items)">PUBG</a>
                    <a href="../../category/streams/index.html" class="tag-cloud-link tag-link-20 tag-link-position-5" style="font-size: 8pt;" aria-label="Streams (2 items)">Streams</a></div>
            </div><div id="portfolio-2" class="widget widget_portfolio"><h6 class="widget-title">Gallery</h6>    <div class="gallery-module row">
                    <div class="col-4 item"><a href="../../project/videotape-3/index.html" data-magic-cursor="link-w-text" data-magic-cursor-text="View"><img width="150" height="150" src="../../wp-content/uploads/2019/12/img30-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" title="Videotape" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img30-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img30-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img30-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img30-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img30-100x100@2x.jpg 200w" sizes="(max-width: 150px) 100vw, 150px" /></a></div>
                    <div class="col-4 item"><a href="../../project/dust-2-for-pro-gamers/index.html" data-magic-cursor="link-w-text" data-magic-cursor-text="View"><img width="150" height="150" src="../../wp-content/uploads/2019/12/img25-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" title="Dust 2 for pro gamers" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img25-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img25-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img25-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img25-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img25-100x100@2x.jpg 200w" sizes="(max-width: 150px) 100vw, 150px" /></a></div>
                    <div class="col-4 item"><a href="../../project/found-bride-2/index.html" data-magic-cursor="link-w-text" data-magic-cursor-text="View"><img width="150" height="150" src="../../wp-content/uploads/2019/12/img26-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" title="Found Bride" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img26-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img26-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img26-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img26-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img26-100x100@2x.jpg 200w" sizes="(max-width: 150px) 100vw, 150px" /></a></div>
                    <div class="col-4 item"><a href="../../project/let-down-2/index.html" data-magic-cursor="link-w-text" data-magic-cursor-text="View"><img width="150" height="150" src="../../wp-content/uploads/2019/12/img27-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" title="Let Down" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img27-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img27-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img27-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img27-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img27-100x100@2x.jpg 200w" sizes="(max-width: 150px) 100vw, 150px" /></a></div>
                    <div class="col-4 item"><a href="../../project/cold-hard-truth-2/index.html" data-magic-cursor="link-w-text" data-magic-cursor-text="View"><img width="150" height="150" src="../../wp-content/uploads/2019/12/img28-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" title="Cold Hard Truth" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img28-150x150.png 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img28-150x150@2x.png 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img28-100x100.png 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img28-300x300@2x.png 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img28-100x100@2x.png 200w" sizes="(max-width: 150px) 100vw, 150px" /></a></div>
                    <div class="col-4 item"><a href="../../project/videotape-2/index.html" data-magic-cursor="link-w-text" data-magic-cursor-text="View"><img width="150" height="150" src="../../wp-content/uploads/2019/12/img29-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" title="Videotape" srcset="https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img29-150x150.jpg 150w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img29-150x150@2x.jpg 300w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img29-100x100.jpg 100w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img29-300x300@2x.jpg 600w, https://promo-theme.com/plaxer/wp-content/uploads/2019/12/img29-100x100@2x.jpg 200w" sizes="(max-width: 150px) 100vw, 150px" /></a></div>
                </div>
            </div><div id="blog_post-2" class="widget widget_blog_post"><h6 class="widget-title">Recent Posts</h6>    <div class="blog-post-widget">
                    <div class="item">
                        <a href="../../pubg/kills-you-slowly-2/index.html" class="image"
                           style="background-image: url(../../wp-content/uploads/2019/12/img22-150x150.jpg)"></a>
                        <div class="text">
                            <a href="../../pubg/kills-you-slowly-2/index.html" class="name">Kills You Slowly</a>
                            <div class="blog-detail">
                                <div class="bd-item"><span>November 8, 2019</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="../../dota-2/clout/index.html" class="image"
                           style="background-image: url(../../wp-content/uploads/2019/12/img17-150x150.jpg)"></a>
                        <div class="text">
                            <a href="../../dota-2/clout/index.html" class="name">Clout</a>
                            <div class="blog-detail">
                                <div class="bd-item"><span>April 22, 2019</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="../../gs-go/jerome/index.html" class="image"
                           style="background-image: url(../../wp-content/uploads/2019/12/img18-150x150.jpg)"></a>
                        <div class="text">
                            <a href="../../gs-go/jerome/index.html" class="name">Jerome</a>
                            <div class="blog-detail">
                                <div class="bd-item"><span>April 22, 2019</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div>
    </div>

    <div class="header-space"></div>          <div class="page-top-block type-" style="">
        <div class="container">
            <div class="heading-block">
                <h1 class="h h3">Classements</h1>
            </div>
        </div>
    </div>
    <main class="main-container">
        <div class="container">
            <div id="post-1940" class="post-1940 page type-page status-publish hentry">
                <div class="content-area clearfix">


                    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_row-5de8e4454e074">

                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_container-620c25e189f6b"><div class="vc_column-inner "><div class="wpb_wrapper">      <div class="icon-box-block icon-box-block-5de8daaadc355">
                                        <div class="row">
                                            <div class=" col-12 col-md-4">
                                                <div class="icon-box icon-box-style-5de8dab3e779f" style="background-color: #cd7f32;">
                                                    <div class="wrap">
                                                        <div class="sticker">3rd</div>
                                                        <div class="icon base-icon-twitch"></div>
                                                        <h6 class="title">{{ classement[1].equipe.nom }}</h6>
                                                        <div class="desc">New streams every day from<br />
                                                            our best players.</div>
                                                    </div>
                                                    <a class="link" href="#" target="_self"></a>
                                                </div>
                                            </div>
                                            <div class=" col-12 col-md-4">
                                                <div class="icon-box icon-box-style-5de8dc9815919" style="background-color: #ffd920">
                                                    <div class="wrap">
                                                        <div class="sticker">1st</div>
                                                        <div class="icon base-icon-joystick"></div>
                                                        <h6 class="title">{{ classement[0].equipe.nom }}</h6>
                                                        <div class="desc">Get top streams and results<br />
                                                            from World Cyber Games.</div>
                                                    </div>
                                                    <a class="link" href="#" target="_self"></a>
                                                </div>
                                            </div>
                                            <div class=" col-12 col-md-4">
                                                <div class="icon-box icon-box-style-5de8dce4eecac" style="background-color: #e3dfea">
                                                    <div class="wrap">
                                                        <div class="sticker">2nd</div>
                                                        <div class="icon base-icon-poker"></div>
                                                        <h6 class="title">{{ classement[2].equipe.nom }}</h6>
                                                        <div class="desc">Create your own games<br />
                                                            tournaments and share results.</div>
                                                    </div>
                                                    <a class="link" href="#" target="_self"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
                </div>
            </div>
        </div>
</div>

    <div class="container">
        {% for c in classement | slice(3) %}
        <div class="matches-block">
            <div class="match-item event-box istp-item category-cs-go">
                <div class="wrap">
                    <div class="content">
                        <div class="heading">
                            <a class="link" href="../../match/esport-league-cs-go-division-2/index.html">{{ c.rang }}&#8211; {{ c.equipe.nom }}</a>
                        </div>
                        <div class="date">December 25, 2020 12:00 am</div>
                    </div>
                </div>
                <!--<div class="links">
                 <a href="#" class="stream-link twitch" target="_blank"><i class="base-icon-twitch"></i><span>twitch stream</span></a>
                </div> -->
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
